.top {
  background-color: #7e1814;
  color: #fefefa;
  height: 262px;
 
}

.top1 {
  display: flex;
  margin-top: 100px;
}
.top1 h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.top1 a {
  font-size: 25px;
  font-style: normal;

}
.top-left {
  margin-top: 69px;
  margin-left: px;
}
.top-right {
  font-family: "Lato", sans-serif;
  font-family: "Lora", serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 450px;
  margin-top: 72px;
  text-align: end;
}

.top a {
  text-decoration: none;
  color: #fefefa;
  font-family: "Lato", sans-serif;
  font-family: "Lora", serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.top i {
  font-size: 13px;
  margin-right: 5px;
}

.down {
  display: flex;
}

.down .left,
.down .right {
  margin-top: 40px;
}

.down .left {
  width: 367px;
  margin-right: 30px;
}

.centre {
  width: 887px;
  margin: 0px auto;
}

.down h2 {
  font-size: 21px;
  font-family: "Lato", sans-serif;
  font-family: "Lora", serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: -10px;
}

.down hr {
  background-color: #7e1814;
  height: 1px;
  border: none;
}

.down h2,
.right-education h3 {
  color: #712221;
}

.bottom-space {
  margin-bottom: 40px;
}

.l-ks {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-family: "Lora", serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
}

.left-key-skills span {
  color: #faebe3;
  background-color: #7e1814;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 12px;
}
