.top {
  background-color: #7e1814;
  color: #fffefc;
  height: 209px;
  box-sizing: border-box;
}

.fl {
  display: flex;
}

.top-left a {
  color: #fffefc;
  text-decoration: none;
}
.top-left li {
  list-style: none;
  margin-bottom: 10px;
  margin-left: 3px;
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  display: inline-block;
}

.top-left {
  margin-top: 52px;
}

.top-right {
  margin-top: 58px;
}
.top-left i {
  font-size: 12px;
}

.top-right {
  text-align: end;
  margin-left: 367px;
}

.top-right h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  margin-bottom: 19px;
}

.top-right p {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}

.centre {
  width: 675px;
  margin: 0 auto;
}

.bottom {
  display: flex;
  margin-top: 29px;
  line-height: 20px;
}

.bottom h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-bottom: -14px;
  color: #7d2624;
}

.bottom hr {
  background-color: #7d2624;
  border: none;
}

.bottom-left {
  width: 300px;
  margin-right: 25px;
}

.left-summary p {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  margin-top: -9px;
}

.bottom-space {
  margin-bottom: 31px;
}

.left-key-skills span {
  background-color: #7e1814;
  color: #fffefc;
  display: inline-block;
  font-size: 11px;
  padding: 3px 11px;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 8px;
}

.l-ks {
  text-align: center;
  margin-top: -5px;
}

.left-technical-skills .outer {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-size: 11px;
}

.left-technical-skills .inner {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
}

.bottom-right h3 {
  color: #7d2624;
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
}

.bottom-right h4 {
  font-size: 13px;
  font-family: "Noto Sans", sans-serif;
}

.bottom-right h3,
.bottom-right h4 {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
}

.bottom-right span {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.right-professional-experience .span1 {
  margin-left: 70px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.right-professional-experience .span2 {
  margin-left: 160px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.right-professional-experience ul {
  margin-left: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
}

.right-education .span1 {
  margin-left: 240px;
}

.right-education .span2 {
  margin-left: 124px;
}
