.top {
  background-color: #7e1814;
  color: #fffefc;
  height: 209px;
  box-sizing: border-box;
}

.fl {
  display: flex;
  align-items: center;
  height: 209px;
}

.top-left {
  flex-grow: 2;
}

.top-right {
  flex-grow: 1;
}

.top-left a {
  color: #fffefc;
  text-decoration: none;
}
.top-left li {
  list-style: none;
  margin-bottom: 10px;
  margin-left: 3px;
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  display: inline-block;
}

.top-left i {
  font-size: 12px;
}

.top-right {
  text-align: end;
}

.top-right h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  margin-bottom: 19px;
}

.top-right p {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}

.centre {
  width: 675px;
  margin: 0 auto;
}

.bottom {
  display: flex;
  margin-top: 29px;
  line-height: 20px;
}

.bottom h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-bottom: -14px;
  color: #7d2624;
}

.bottom hr {
  background-color: #7d2624;
  border: none;
}

.bottom-left {
  flex-basis: 40%;
  margin-right: 25px;
}

.left-summary p {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  margin-top: -9px;
}

.bottom-space {
  margin-bottom: 31px;
}

.left-key-skills span {
  background-color: #7e1814;
  color: #fffefc;
  display: inline-block;
  font-size: 11px;
  padding: 3px 11px;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 8px;
}

.l-ks {
  text-align: center;
}

.left-technical-skills span {
  background-color: #7e1814;
  color: #fffefc;
  display: inline-block;
  font-size: 11px;
  padding: 3px 11px;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 8px;
}

.l-ts {
  text-align: center;
}

.bottom-right {
  flex-basis: 60%;
}

.bottom-right h3 {
  color: #7d2624;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.bottom-right h4 {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

.bottom-right h3,
.bottom-right h4 {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

.bottom-right span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.right-professional-experience .span1 {
  margin-left: 135px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.right-professional-experience .span2 {
  margin-left: 80px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.right-professional-experience ul li {
  margin-left: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
}

.right-professional-experience ul {
  margin-bottom: 5px;
}

.right-professional-experience {
  margin-bottom: 45px;
}

.right-education .span1 {
  margin-left: 198px;
}

.right-education .span2 {
  margin-left: 125px;
}

.right-education .span3 {
  margin-left: 230px;
}

.right-education .span4 {
  margin-left: 255px;
}

.right-education .span5 {
  margin-left: 226px;
}

.right-education .span6 {
  margin-left: 255px;
}

.right-Projects li {
  margin-left: 15px;
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
}
